
<body>
    <div class="header">
  <h1>Terms &amp; Conditions</h1>
</div>
<div class="title">
  <h2>SA library Software</h2>
</div>
  <p>
    SA ibrary Software and the mobile application are owned by GLibrary. We are providing you with access to this software and our mobile application (together, our “Services”) subject to the following terms and conditions.
  </p>
<p>
    Restrictions on Rights to use

You agree that you shall not (and you agree not to allow any other individual or entity using your password and identification to):


Download‚ modify‚ reproduce‚ adapt‚ translate‚ reverse engineer‚ create derivative works based upon,publicly display, sell,rent, license,or in any way commercially exploit any portion of this software‚ except and to the extent expressly permitted under these Terms;
Remove any copyright‚ trademark or other proprietary rights notice contained in or on the Software;
Use any robot‚ spider‚ Software search/retrieval application‚ or other devices to retrieve or index any portion of this Software;
Collect any information about other users (including usernames and email addresses) for any purpose other than to solicit and share reviews with other users;
Reformat or frame any portion of any Web pages that are part of this Software;
Create user accounts by automated means or under false or fraudulent pretense;
Create or transmit to other users unsolicited electronic communications‚ such as “spam‚” or otherwise interfere with other user's enjoyment of the Software;
Submit to this software any content that falsely states or implies that such content is sponsored or endorsed by us;
Transmit or upload to this software any item containing or embodying any virus‚ worm‚ defect‚ malware‚ Trojan horse‚ software bomb or other feature designed to damage or degrade in any manner the performance of this Software ‚ any other Web Software‚ or any computer or other device or system‚ or the enjoyment of this Software by any user;
Use this Software to violate the security of or gain unauthorized access to any computer or computer network or other device or system (including unauthorized attempts to discover passwords or security encryption codes);
Submit to this Software any content that is unlawful or facilitates‚ constitutes‚ promotes or encourages illegal activity, or otherwise use the Software to transfer or store illegal material‚ including any material deemed threatening or obscene;
Copy or store any user Content offered on this Software other than for your personal‚ non-commercial use;
Take any action that imposes‚ or may impose‚ in our sole discretion‚ an unreasonable or disproportionately large data or traffic load on this Software or the IT infrastructure used to operate and make this Software available; or
Use this Software and any user Content‚ intentionally or unintentionally‚ to violate any applicable local‚ state‚ federal or international law.

We have no obligation to monitor any user conduct on this software, and We reserve the right and have absolute discretion to monitor any user conduct on this software at any time and for any reason without notice.
</p>
<footer class="footer">
    <div class="container">
      <p>&copy; 2023 LMS. All rights reserved.</p>
    </div>
  </footer>
  

</body>

