

.container {
  display: flex;
  flex-direction: column;
  margin-left: 6px;
}

.container h2 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.top-nav {
  background-color: #112050;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

.top-nav a {
  text-decoration: none;
  margin-right: 20px;
  color: #fff;
}

.badge {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: red;
  color: #fff;
  font-size: 10px;
  padding: 3px 5px;
  border-radius: 50%;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.side-nav {
  width: 250px;
  background-color: #f2f2f2;
  padding: 10px;
}

.side-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.side-nav li {
  margin-bottom: 10px;
}

.side-nav a {
  text-decoration: none;
  color: #fff;
}

.content {
  flex: 1;
  padding: 10px;
}

.sidenav {
  display: flex;
}

.book-cards,
.row {
  display: flex;
  flex-wrap: wrap;
}

.filters {
  margin-bottom: 20px;
}

.filters input {
  margin-right: 10px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 200px;
  margin: 10px;
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.card img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.card h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.card p {
  font-size: 14px;
  margin-bottom: 5px;
}

.pagination {
  display: flex;
  justify-content: center;
}
